* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    margin: 0 20px;
}

.navbar .menu {
    display: flex;
    align-items: center;
}

.navbar .menu li {
    list-style: none;
    margin: 0 9px;
    font-size: 19px;
    font-weight: 525;
}

.navbar .menu li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #9B30FF;
}

.navbar .menu li a:hover {
    color: #8A2BE2;
}

.navbar h2 {
    font-weight: lighter;
    text-decoration: line-through;
    color: #FF0000;
}

.navbar button {
    border: 2px solid #C70039;
    padding: 5px;
    font-size: 17px;
    background: linear-gradient(to bottom right, #FF0000 5%, #800020 95%);
    border-radius: 5px;
    cursor: pointer;
    margin: 0 15px 0 0;
}

/* HOME */
.home-container {
    background: linear-gradient(135deg, #800020 95%, #FF0000 5%);
    
}
